@import "tailwindcss";

@theme {
  --color-cocoa-900: #3e2723;
  --color-cocoa-800: #4e342e;
  --color-cocoa-100: #d7ccc8;
  --color-cream-50: #fffaf0;
  --color-pink-500: #ec407a;

  /* New Colors */
  --color-gold-400: #fbbf24;
  --color-berry-600: #be185d;

  /* New Font */
  --font-caveat: var(--font-caveat);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-cream-50);
  background-image: radial-gradient(#d7ccc8 1px, transparent 1px);
  background-size: 20px 20px;
  color: var(--color-cocoa-900);
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
.handwritten {
  font-family: var(--font-caveat), cursive;
}