@import "tailwindcss";

@theme {
  --color-cocoa-900: #3e2723;
  --color-cocoa-800: #4e342e;
  --color-cocoa-100: #d7ccc8;
  --color-cream-50: #fffaf0;
  --color-pink-500: #ec407a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-cream-50);
  color: var(--color-cocoa-900);
  font-family: sans-serif;
}